<!DOCTYPE html>
<html>
<head>

<title>Password Changed</title>

<style>

body{
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}

.box{
    background:#1e293b;
    padding:40px;
    border-radius:20px;
    text-align:center;
    width:400px;
}

a{
    display:inline-block;
    margin-top:20px;
    padding:12px 20px;
    background:#3b82f6;
    color:white;
    text-decoration:none;
    border-radius:10px;
}

</style>

</head>

<body>

<div class="box">

<h1>Password Changed ✅</h1>

<p>

Your password has been updated successfully.

</p>

<a href="/">

Login Again

</a>

</div>

</body>
</html>